{{>navbar}}
<div>
    <h2 class="h2-chat">Chat</h2>
</div>

<h3 class="h3-chat">{{email}}</h3>

<div id="mensajes" class="container-mensajes"></div>

<form class="form-input-chat">
    <input type="text"  class="input-chat" id="chat-box"/>
</form>
<div class="container-btn-send-msg">
    <button onclick="sendMessageChat('{{email}}')" class="btn-send-msg" id="btn-msg" >Enviar</button>
</div>

{{>footer}}

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chatSocket.js"></script>