<div class="container-docs">
    <h1>Pasate a Usuario Premium</h1>
    <form>
        <input type="file" placeholder="fotocopia de DNI" />
    </form>
    <button onclick="uploadDocuments()"> ver req.session.user</button>
</div>
<script src="/js/productsHandlebars/btnUpload.js"></script>