{{>navbar}}

<div class="addProductContainer">
    <h1>Agregar nuevo producto</h1>
    <form class="product-form form-disp">
        <input type="text" placeholder="code" />
        <input type="text" placeholder="Nombre del producto" />
        <input type="text" placeholder="Descripción del producto" />
        <input type="text" placeholder="Precio" />
        <input type="text" placeholder="Stock" />
        <input type="text" placeholder="Categoria" />
        <input type="file" />
    </form>
</div>

<script>
    
</script>