 {{> navbar}}

 <section class="rest-pass-container">
    <h1>restore password</h1>

    <form class="form-rest-pass form-disp">
        <p>cambiar password de <b class="b-text-email">{{email}}</b></p>
        <input type="password" id="newpass" class="email-input" placeholder="new password" />
        <input type="password" id="confirmNewpass" class="email-input" placeholder="new password" />
        <button id="send">Restablecer Contraseña</button>
    </form>
 </section>

  {{>footer}}

  <script>
    const newPass = document.getElementById('newpass');
    const confirmNewPass = document.getElementById('confirmNewpass');
    const btnSend = document.getElementById('send');
    const email = document.querySelector('.b-text-email').textContent;
    console.log('email text content de b:', email);

    btnSend.addEventListener('click', async(e) => {
        e.preventDefault();
        if(newPass.value !== confirmNewPass.value) {
            alert('Las passwords deben ser iguales');
            return;
        } 
        const url = '/api/auth/change-password';

        const data = {
            newPass: newPass.value,
            confirmNewPass: confirmNewPass.value,
            email: email,
        };

         try {
            const response = await fetch(url, {
                method: 'POST',
                headers: {
                'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            });
            
            
            if(response.ok) {
                console.log('response', response)
                if (response.ok){ window.location.href = 'http://localhost:8080/login'}
            }else{
                alert('La nueva password no puede ser igual que la anterior');
            }

            
        } catch (error) {
            console.error('Error:', error);
        }

    });

    
  </script>