{{>navbar}}

<div class="addProductContainer">
    <h1>Agregar nuevo producto</h1>
    <p class="user-email">{{email}}</p>
    <form class="product-form form-disp">
        <input type="text" class="border" id="codep" placeholder="code" />
        <input type="text" class="border" id="titlep" placeholder="Nombre del producto" />
        <input type="text" class="border" id="descrip" placeholder="Descripción del producto" />
        <input type="number" class="border" id="pricep" placeholder="Precio" />
        <input type="number" class="border" id="stockp" placeholder="Stock" />
        <input type="text" class="border" id="categoryp" placeholder="Categoria" />
        <label for="imgp" class="custom-file-input">
            <i class="fa fa-cloud-upload"></i> Subir archivo
        </label>
        <input type="file" id="imgp" style="display: none;"/>
        <button id="btn-new-product" class="send-document-pdf blue">Enviar</button>
    </form>
</div>
{{>footer}}

<script>
    const d = document;

    const inputCode = d.getElementById('codep'),
        inputName = d.getElementById('titlep'),
        inputDescription = d.getElementById('descrip'),
        inputPrice = d.getElementById('pricep'),
        inputStock = d.getElementById('stockp'),
        inputCategory = d.getElementById('categoryp'),
        inputImg = d.getElementById('imgp'),
        btnNewProduct = d.getElementById('btn-new-product'),
        userEmail = d.querySelector('.user-email');

    
    btnNewProduct.addEventListener('click', (e) => {
        e.preventDefault();

        if(inputCode.value === ''){
            inputCode.style.border = '1px solid red';
            alert('debes completar este campo');
            return;
        }

        if(inputName.value === ''){
            inputName.style.border = '1px solid red';
            alert('debes completar este campo');
            return;
        }

        if(inputDescription.value === ''){
            inputDescription.style.border = '1px solid red';
            alert('debes completar este campo');
            return;
        }

        if(inputPrice.value === ''){
            inputPrice.style.border = '1px solid red';
            alert('debes completar este campo');
            return;
        }

        if(inputStock.value === ''){
            inputStock.style.border = '1px solid red';
            alert('debes completar este campo');
            return;
        }

        if(inputCategory.value === ''){
            inputCategory.style.border = '1px solid red';
            alert('debes completar este campo');
            return;
        }

        if(inputImg.files.length === 0){
            //inputCode.style.border = '1px solid red';
            alert('debes subir una imagen de tu producto');
            return;
        }

        const newProducto = {
            code: inputCode.value,
            title: inputName.value,
            description: inputDescription.value,
            price: parseFloat(inputPrice.value),
            stock: parseInt(inputStock.value),
            category: inputCategory.value,
        };

        inputImg.disabled = true;
        //console.log('new product', newProducto);

        const formData = new FormData();
        formData.append('code', newProducto.code);
        formData.append('title', newProducto.title);
        formData.append('description', newProducto.description);
        formData.append('price', newProducto.price);
        formData.append('stock', newProducto.stock);
        formData.append('category', newProducto.category);
        formData.append('thumbnail', inputImg.files[0]);
        formData.append('email', userEmail.textContent);
        
        //console.log(formData);

        const createNewProduct = async () => {
            try{
                const url = '/api/products';
                const response = await fetch(url, {
                    method: 'POST',
                    body: formData,
                });

                if(response.ok){
                    //console.log('response', response);
                    const urlproducts = "/products";
                    window.location.href = urlproducts;
                }

                
            }catch(error){
                console.log(error);
            }
            
        }

        createNewProduct();

    });


</script>