 {{> navbar}}

 <section class="rest-pass-container">
    <h1>restore password</h1>

    <form class="form-rest-pass">
        <input type="email" id="email" class="email-input" placeholder="email@example.com">
        <button id="send">Enviar Mail</button>
    </form>
 </section>

  {{>footer}}

  <script>
    const email = document.getElementById('email');
    const button = document.getElementById('send');
    const form = document.querySelector('.form-rest-pass')

    button.addEventListener('click', async (e) => {
        e.preventDefault()
        const url = '/api/auth/restore-password';
        const data = {
            email: email.value
        };

        try {
            const response = await fetch(url, {
                method: 'POST',
                headers: {
                'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            });

            if (response.ok) {
                const responseData = await response.json();
                console.log(responseData.email);
                
            } else {
                console.error(responseData.error);
            }

            email.style.display='none';
            button.style.display='none';

            const p = document.createElement('p');
            p.innerText = 'Mail enviado, revisa tu bandeja de entrada';

            form.appendChild(p);

        // Aquí puedes manejar la respuesta del servidor, por ejemplo, mostrar un mensaje de éxito o error al usuario
        } catch (error) {
            console.error('Error:', error);
        }
    })
    
  </script>


